html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(90deg, #f6f8fd 29px, transparent 1%) center,
    linear-gradient(#f6f8fd 29px, transparent 1%) center, #bfc5d3;
  background-size: 30px 30px;
}

.lazyload,
.lazyloading {
  min-height: 200px;
}

.notopmargin {
  margin-top: 0 !important;
}

header {
  position: fixed;
  width: 100%;
  padding: 10px;
  z-index: 100;
  background-color: #ffffff;
  box-shadow: 0 5px 20px -10px rgba(0, 0, 0, 0.25);
  -webkit-transition: background-color 0.2s ease;
  -ms-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

header.transparent {
  background-color: transparent;
  box-shadow: none;
}

header.cancel-transparent {
  background-color: #ffffff;
  box-shadow: 0 5px 20px -10px rgba(0, 0, 0, 0.25);
}

header h1 {
  padding: 0.2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 img {
  width: 200px;
}

header img.logo-black,
header.transparent img.logo-white,
nav .float-menu .icon__close,
nav.open .float-menu .icon__open {
  display: none;
}

header img.logo-white,
header.transparent img.logo-black,
header.cancel-transparent img.logo-white,
nav.open .float-menu .icon__close {
  display: block;
}

header.cancel-transparent img.logo-black {
  display: none;
}

nav {
  position: fixed;
  bottom: 0.5rem;
  background-color: #ffffff;
  text-align: left;
  right: 0.5rem;
  border-radius: 1rem;
  z-index: 100;
}

nav.open {
  padding: 1rem;
  box-shadow: 0 5px 40px -15px rgba(0, 0, 0, 0.25);
  transform: scale(1);
}

nav .float-menu {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e40000;
  color: #ffffff;
  border: none;
  border-radius: 50%;
}

nav .float-menu:focus {
  outline: none;
  box-shadow: 0 0 0 4px #e400004d;
}

nav .float-menu svg {
  height: 30px;
  width: 30px;
}

nav .nav__list {
  display: none;
  margin-bottom: 3.5rem;
  overflow: hidden;
}

nav.open .nav__list {
  display: block;
  min-width: 120px;
}

nav .nav__list li {
  display: block;
  padding: 3px 0;
  font-weight: 500;
}

nav .nav__list li + li {
  margin-top: 0.5rem;
}

nav .nav__list a {
  display: inline-block;
  margin: 0 2px;
  padding: 0.8rem 0.7rem 0.8rem 0.5rem;
  border-radius: 0.7rem;
  color: #000000;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-weight: 600;
  text-decoration: none;
}

nav .nav__list a:focus {
  outline: none;
  box-shadow: 0 0 0 2px #e400004d;
}

.menu-active,
nav .nav__list a:hover {
  color: #ffffff !important;
  background-color: #e40000;
}

nav .nav__list .material-icons {
  vertical-align: text-bottom;
  margin-right: 10px;
}

nav .scroll-top-menu {
  position: absolute;
  right: 0.5rem;
  bottom: calc(1.5rem + 50px);
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e40000;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s, opacity 0.5s ease;
  -ms-transition: visibility 0s, opacity 0.5s ease;
  transition: visibility 0s, opacity 0.5s ease;
}

nav .scroll-top-menu.show {
  visibility: visible;
  opacity: 1;
}

nav.open .scroll-top-menu {
  display: none;
}

nav .scroll-top-menu svg {
  height: 40px;
  width: 40px;
}

main {
  padding-bottom: 30px;
  min-height: 100vh;
}

main loading-splash {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

footer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 40px;
  column-gap: 30px;
  max-width: 1280px;
  width: 100%;
  margin: 30px auto 40px;
  padding: 0 40px;
}

footer div {
  grid-area: span 1 / span 6 / auto / auto;
  max-width: 600px;
  width: 100%;
}

footer div.about {
  padding-right: 90px;
}

footer div.about img {
  width: 250px;
}

footer div.about p {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 20px;
}

footer div.page p,
footer div.category p,
footer div.contact p {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 10px;
}

footer div.page li,
footer div.category li {
  margin-bottom: 5px;
}

footer div.page a,
footer div.category a {
  color: #000000;
  font-size: 16px;
  text-decoration: none;
  line-height: 1.5;
}

footer div.page a:hover,
footer div.category a:hover {
  color: #e40000;
}

footer div.contact div {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

footer div.contact div a {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-right: 15px;
  padding: 10px;
  border-radius: 50%;
  background-color: #ffffff;
}

footer div.contact a svg {
  width: 25px;
  height: 25px;
  filter: grayscale(1) brightness(0) opacity(0.7);
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

footer div.contact a:hover svg {
  filter: none;
}

footer div.contact td {
  padding-bottom: 10px;
}

footer div.contact td .material-icons-outlined {
  vertical-align: text-bottom;
  margin-right: 10px;
  font-size: 26px;
}

@media screen and (min-width: 768px) {
  footer div.page,
  footer div.category {
    grid-area: span 1 / span 2 / auto / auto;
  }

  footer div.contact {
    grid-area: span 1 / span 4 / auto / auto;
  }
}

@media screen and (min-width: 1024px) {
  header h1 {
    padding: 0.5rem 1.5rem;
  }

  header.transparent .nav__list a,
  header.transparent .nav__list a:hover {
    color: #ffffff !important;
  }

  header .nav__list a,
  header .nav__list a:hover,
  header.cancel-transparent .nav__list a,
  header.cancel-transparent .nav__list a:hover {
    color: #000000 !important;
  }

  .header-wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 1280px;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    position: static;
    background-color: transparent;
    text-align: center;
  }

  nav .float-menu {
    display: none;
  }

  nav .nav__list {
    display: block;
    margin-bottom: 0;
  }

  nav .nav__list li {
    display: inline-block;
  }

  nav .nav__list li + li {
    margin-top: 0;
    margin-left: 0.5rem;
  }

  nav .nav__list a {
    position: relative;
    padding: 0.8rem 1.4rem 0.8rem 1rem;
  }

  .menu-active,
  nav .nav__list a:hover {
    background-color: transparent;
  }

  nav .nav__list a:focus {
    outline: none;
    box-shadow: none;
  }

  nav .nav__list a:after {
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    position: absolute;
    display: block;
    bottom: 5px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 4px;
    width: 30px;
    border-radius: 5px;
    content: "";
    background: #e40000;
  }

  .menu-active:after,
  nav .nav__list a:focus:after,
  nav .nav__list a:hover:after {
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s ease-out,
      border-color 0.3s ease-out;
    -ms-transition: -webkit-transform 0.3s ease-out, border-color 0.3s ease-out;
    transition: transform 0.3s ease-out, border-color 0.3s ease-out;
    -webkit-transform: scaleX(1) !important;
    -ms-transform: scaleX(1) !important;
    transform: scaleX(1) !important;
  }

  nav .scroll-top-menu {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
  }

  footer {
    display: grid;
    grid-template-columns: repeat(17, 1fr);
  }

  footer div.about {
    grid-area: span 1 / span 6 / auto / auto;
    padding-right: 30px;
  }

  footer div.page,
  footer div.category {
    grid-area: span 1 / span 3 / auto / auto;
  }

  footer div.contact {
    grid-area: span 1 / span 5 / auto / auto;
  }
}
