# yaml-language-server: $schema=https://json.schemastore.org/github-workflow
name: Test

on:
  pull_request:
    branches:
      - main

jobs:
  test-build:
    name: Test Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5.0.1
        with:
          fetch-depth: "1"

      - name: Setup Node.js
        uses: actions/setup-node@v4.2.0
        with:
          node-version: "14"

      - name: Cache dependencies
        uses: actions/cache@v4.2.0
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-node-

      - name: Build
        run: |
          npm ci
          npm run build
